@import "@/app/globals.scss";

.container {
  height: 100%;

  :global {
    .main {
      height: 100%;
      padding: 3rem 0 3.5rem;
    }

    .schedule {
      height: 100%;
      padding: 3rem 0 7rem;
    }

    .content {
      height: 100%;
      overflow: auto;
    }

    .container-inner {
      padding: 0 20px;
      margin-bottom: 1rem;
    }

    .detail-title {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-border;
      margin-bottom: 2rem;
    }

    .select-time {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
    }

    .detail-content {
      .detail-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .store-name {
          flex: 100%;
          margin-bottom: 1rem;
        }

        .amounts {
          font-weight: 600;
        }

        .working-hour {
          margin-top: 0.5rem;
          color: $color-secondary-text;
        }
      }
    }

    .header {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      height: 3rem;
      width: 100%;
      padding: 0 0.5rem;
      z-index: 50;
      background-color: $color-white;
      border-bottom: 1px solid $color-border;

      & > *:last-of-type {
        margin-left: auto;
      }
    }

    .fixed-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      background-color: $color-white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 5px;

      .pay-amount {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 3.5rem;
        padding-right: 20px;
        span {
          text-align: right;
          font-size: $font-lg;
        }
      }

      .fixed-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid $color-border;
        height: 3.5rem;
      }
    }
  }
}
