$color-white: #ffffff;
$color-primary: #002C66;
$color-border: #dbdbdb;
$color-bg: #efefef;
$color-primary-text: #000000;
$color-secondary-text: #c8c8c8;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
