$color-white: #ffffff;
$color-secondary: #002c66;
$color-primary: #228be6;
$color-border: #efefef;
$color-bg: #efefef;
$color-primary-text: #000000;
$color-secondary-text: #c1c1c1;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
