@import "@/app/globals.scss";

.container {
  height: 100%;

  :global {
    .main {
      height: 100%;
      padding: 3rem 0 3.5rem;
    }

    .schedule {
      height: 100%;
      padding: 3rem 0 7rem;
    }

    .content {
      height: 100%;
      overflow: auto;
    }

    .container-inner {
      padding: 0 20px;
      margin-bottom: 2rem;
    }

    .detail-title {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-border;
      margin-bottom: 2rem;
    }

    .select-time {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
    }

    .detail-content {
      .detail-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .store-name {
          flex: 100%;
          margin-bottom: 1rem;
        }

        .amounts {
          font-weight: 600;
        }

        .working-hour {
          margin-top: 0.5rem;
          color: $color-secondary-text;
        }
      }
    }

    .header {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      height: 3rem;
      width: 100%;
      padding: 0 20px 0 10px;
      z-index: 50;
      background-color: $color-white;
      border-bottom: 1px solid $color-border;

      .mantine-Select-input {
        padding: 0 0 0 10px;
        font-size: $font-md;
      }

      .btn-setting {
        font-size: 14px;
      }
    }

    .fixed-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      background-color: $color-white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 5px;

      .pay-amount {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 3.5rem;
        padding-right: 20px;
        span {
          text-align: right;
          font-size: $font-lg;
        }
      }

      .fixed-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid $color-border;
        height: 3.5rem;
      }
    }

    .new-schedule {
      margin-top: 2rem;
      padding: 20px;
      background-color: $color-bg;
    }

    // s: stock
    .stock {
      height: 100%;
      padding: 3rem 20px 7rem;
      overflow: auto;

      .top-area {
        margin-top: 2rem;
      }

      .stock-list {
        margin: 1rem 0 2rem 0;

        .item {
          display: flex;
          align-items: center;
          padding: 1rem 0;
          border-top: 1px solid $color-border;

          .count {
            width: 5rem;
            margin-left: auto;
            input {
              padding: 0 36px 0 0;
              text-align: right;
            }
          }
        }
      }

      .add-list {
        margin-bottom: 2rem;
        padding: 20px;
        background-color: $color-bg;
      }

      .fixed-button {
        position: fixed;
        bottom: 56px;
        left: 0;
        width: 100%;
        padding: 0 20px 20px;
        z-index: 10;
        background-color: $color-white;
      }
    }
    // e: stock
  }
}
